body {
	font-family: 'Poppins', sans-serif;
}

.container {
	width: 1112px;
	margin: 0 auto;
	padding-left: 16px;
    padding-right: 16px;
	box-sizing: border-box;
}


.header__title{
    font-size: 54px;
    color: white;
    font-weight: 700;
    text-align: center;
}
.background {
	background-color: #1a1a1a;
}

/* .grid {
    display: grid;
    grid-template-areas: 
    'logo logo menu menu'
    'header nav nav nav'
    'main main main main'
    'footer footer footer footer'
    ;
}
.logo {
    grid-area: logo;
}
.menu {
    grid-area: menu;
}
.header {
    grid-area: header;
} 
.grid-item {
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
}*/

.nav {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding-top: 40px;
    padding-bottom: 40px;
	/* padding-inline: 40px; */
	/*margin-bottom: 100px;*/
}

.menu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	align-items: center;
	list-style: none;
}

.menu__item-link {
	font-size: 13px;
	line-height: 23px;
    text-decoration: none;

	color: #ffffff;
}

/******* H E R O begins *******/

.hero {
	margin-left: auto;
	display: grid;

	/* variant 1 */
	/* grid-template-areas: 
    'feature feature feature feature'
    'title title title title'; */

	/* variant 2 */ 
	grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 180px);

    padding-bottom: 100px;

    width: 1260px;
}

.hero__subtitle {
	border-left: 1px solid #ffffff;
	padding-left: 20px;
    align-self: end;

	font-weight: 600;
	font-size: 13px;
	line-height: 23px;
	opacity: 0.5;

	color: #ffffff;
    /* variant 1 */
    /* grid-area: faeture; */

    /* variant 2 */
    grid-column: 1 / span 1; 
    grid-row: 1 / span 1; 
    /* grid-area: 2/3 1; */
}

.hero__title {
    font-weight: 600;
    font-size: 110px;
    line-height: 110px;
    letter-spacing: -1px;

    color: #FFFFFF;
    grid-column: 1 / span 5;
    grid-row: 2 / span 2;
}

.hero__join-class {
    background-color: #FEBE02;
    
    padding-top: 32px;
    padding-left: 32px;

    grid-column: 6 / span 1;
    grid-row: 3 / span 1;
}

.hero__join-class-title {
    padding-top: 42px;
    
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

     color: #1A1A1A;
}

.hero__designer {
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;
}

.hero__designer img {
    width: 100%;
}

.hero__about {
    display: grid;
    grid-template-rows: 25px 1fr;

    grid-column: 4 / span 2;
    grid-row: 4 / span 1;
}

.hero__about-title {
    padding-left: 20px;
    padding-bottom: 10px;

    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.73077px;

    border-left: 1px solid #ffffff ;

    color: #FFFFFF;
}

.hero__about-text {
    padding-left: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    letter-spacing: 0.323077px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.hero__grey {
    grid-column: 7 / span 1;
    grid-row: 4 / span 1;
    background-color: gray;
}

.hero__equalizer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-column: 4 / span 3;
    grid-row: 5 / span 1;
}

.hero__equalizer img {
    width: 100%;
}

.hero__trailer {
    grid-column: 3 / span 1;
    grid-row: 6 / span 2;
}

.hero__trailer img {
    width: 100%;
}

.hero__testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    grid-column: 5 / span 2;
    grid-row: 6 / span 1;
}

.hero__testimonial-time {
    justify-self: end;
}

.description-pic1 {
    padding-top: 16px;
    
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    
    letter-spacing: 0.3px;
    
    color: #FFFFFF;
}

.description-pic2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    
    letter-spacing: 0.5px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}

/******* H E R O ends *******/

/******* C O U R S E S begins *******/
.courses {
    padding-bottom: 120px;
}

.courses__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 3fr 1fr 3fr;
}

.courses__title {
    padding: 120px 0 110px;
    width: 70%;
    font-weight: 600;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: -0.818182px;
    
    color: #1A1A1A;
}

.courses__wrapper-item img {
    width: 100%;
}

.big-left {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.small-right {
    grid-column: 4 / span 1;
    grid-row: 2 / span 2;
}

.small-left {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
}

.big-right {
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;
}


.courses__wrapper-item-subtitle {
    padding: 20px 0 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 2px;
    
    color: #1A1A1A;
    
    mix-blend-mode: normal;
    opacity: 0.3;
}

.courses__wrapper-item-title {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.3px;
    
    color: #1A1A1A;
}

.courses__wrapper-item-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.5px;
    
    color: #1A1A1A;
    
    mix-blend-mode: normal;
    opacity: 0.6;
}

/******* C O U R S E S ends *******/

/******* O U R  C O U R S E S begins *******/
.our-courses-background {
    background-color: #F5F6F8;
}

.our-courses__title {
    padding: 145px 0px 55px;
    width: 53%;
    font-weight: 600;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: -0.818182px;
    
    color: #1A1A1A;
}

.our-courses__wrapper {
    display: grid;
    grid-template-rows: repeat(4, 203px);
}

.our-courses__wrapper-item {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    align-items: center;
    column-gap: 120px;
}

.our-courses__wrapper-item-number {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;

    color: #000000;
    
    mix-blend-mode: normal;
    opacity: 0.34;
}

.our-courses__wrapper-item-name h3 {
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.833333px;
    
    color: #000000;
}

.our-courses__wrapper-item-name h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.5px;
    
    color: #000000;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}

.our-courses__wrapper-item img {
    width: 24px;
    height: 20px;
    justify-self: end;
}

.border {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
}



/******** O U R  C O U R S E S ends ********/